@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ff0080;
}

/* NOISE */
.noise {
  position: fixed;
  inset: 0;
  opacity: 0.03;
  pointer-events: none;
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
}

/* SELECTION */
::selection {
  background: #ff0080;
  color: white;
}